@font-face {
    font-family: 'my_font';
    src: url('../font/THSarabun.ttf') format('truetype');
}
body {
  background-image: linear-gradient(-20deg, #0066FF 0%, #00CCFF 50%, #00CCFF 100%);
  font-family: my_font;
  font-size: 22px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 00px;
}
.container {
  padding-top: 5px;
}
.logo {
  width: 120px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 20px;
  opacity: 0.9;
  box-shadow: 3px 3px 3px #cc37c5;
}
.form-signin-heading {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px 1px #00AA00;
}
.form-signin-program {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  text-shadow: 1px 1px 1px #00AA00;
}
.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"], 
.form-signin input[type="password"], 
.form-signin select {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  height: 32px;
}
.form-signin select {
  font-size: 22px;
  width: 175px;
}
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2) !important; /* IE */
  -moz-transform: scale(2) !important; /* FF */
  -webkit-transform: scale(2) !important; /* Safari and Chrome */
  -o-transform: scale(2) !important; /* Opera */
  padding: 10px;
}
.level {
  font-weight: bold;
}
.login {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginIcon {
  width: 40px;
  height: 30px;
  text-align: center;
  background-image: linear-gradient(to top, #0066FF 0%, #0066FF 100%);
  box-shadow: 2px 2px 2px #b825b1;
  color: #fff;
}
.btnLogin {
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  background-image: linear-gradient(to top, #0066FF 0%, #0066FF 100%);
  min-height: 30px;
}
.btnLogin:hover {
  box-shadow: 3px 3px 3px #00CCFF;
}
.copyright {
   text-align: center;
   font-size: 14px;
}
#loginAlert, #forgetAlert {
  margin-bottom: 35px;
}
.imgLoading {
  width: 30px;
}
.imgWaiting {
  width: 25px;
}
.smLoading {
  padding-top: 5px;
  width: 20px;
}

.menu {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}
.linePadding {
  padding-bottom: 5px;
}
#register, #forgot {
  border-radius: 15px;
}
#register:hover, #forgot:hover {
  cursor: pointer;
}
#register {
  background-image: linear-gradient(to top, #beddfa 0%, #7fb7eb 100%);
  color: #000;
  box-shadow: 1px 1px 1px #6aaae6;
}
#forgot {
  background-image: linear-gradient(to top, #fccfff 0%, #e47feb 100%);
  color: #000;
  box-shadow: 1px 1px 1px #b651bd;
}
#register:hover {
  background-image: linear-gradient(to bottom, #beddfa 0%, #7fb7eb 100%);
  color: #000;
  box-shadow: 1px 1px 1px #6aaae6;
}
#forgot:hover {
  background-image: linear-gradient(to bottom, #fccfff 0%, #e47feb 100%);
  color: #000;
  box-shadow: 1px 1px 1px #b651bd;
}

.register, .forgot {
	padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

#form_list {
  text-align: left !important;
}

h2 {
  text-align: center;
}

.modal-center {
  margin: auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.completed {
  background-image: linear-gradient(to top, #95e87b 0%, #46c41f 100%); 
  box-shadow: 2px 2px 3px #c5ffb3;
  text-shadow: 2px 2px 3px #27a300;
  color: #124a00;
}

.failed {
  background-image: linear-gradient(to top, #faaaaa 0%, #e64040 100%); 
  box-shadow: 2px 2px 3px #ffb3b3;
  text-shadow: 2px 2px 3px #eb2f2f;
  color: #8a0000;
}

.paddingIcon {
  padding-top: 3px;
}

.paddingAlert {
  padding-top: 10px;
  font-weight: bold !important;
}

.txtInput {
	height: 30px; 
	box-shadow: 1px 1px 1px #000;
}

.txtAlert {
	padding-top: 5px;
	color: #ad0000;
	font-weight: bold;
	font-size: 22px;
	text-shadow: 1px 1px #870000;
}

.txtWarnig {
  padding-top: 5px;
}

.btnPass, .btnCF {
	position: absolute;
  	right: 20px;
  	top: 3px;
  	opacity: 0.6;
}
.btnPass:hover, .btnCF:hover {
	cursor: pointer;
}

#btnSave, #btnClose {
	border-radius: 15px;
	font-weight: bold;
	width: 80px;
}